/* GUL #ffcc00
   Blå #006699
*/
*{
  margin: 0px;
  padding: 0px;
}
html{
  height: 100%;
 
}
body {
  height: 100%;
  background-image: linear-gradient(#006699,#ffcc00,#006699);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#root{
  height: 100%;
  
}



.container-fluid {
  height: 100%;  
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}



/*HEADER*/

.header-div{
  height: 100%;
  grid-area: header;
  background-color: #006699;
  border-radius: 25px;
  padding: 20px;
}

.sweden-loggo{
  height: 12rem;
  margin: 15px;
  
  
  }

  .sweLoggo{
    text-align: center;
  }

  .tosweden-h3{
    display: none;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color:#ffcc00;
    
  }

  /* .navbar-list{
    list-style:  none;
    margin: 0px 10px;
    float: left;
    
}
.header-comp{
    display: flex;
    justify-content: center;
} */

.navbar-div{
  height: 100%;
  grid-area: navbar;
  background-color: #006699;
  border-radius: 25px;
  
}

.navbar{
  display: flex;
  justify-content: center;
}

.nav-drop{
  float: right;
  
}

.ul-list{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
.n-link{
  
  color: #ffcc00;
}

.bigNav {
  display: none;
}
.smallNav{
  display: block;
}

.yellow {
  color: black;
  background-color: #ffcc00;

}


@media  (min-width: 700px) {
  .bigNav{
  display:block;
  }
  .smallNav{
    display: none;
  }

  .ul-list{
    display: flex;
    justify-content: space-between;
  }


}

/*MAIN*/

.main-div{
  height: 100%;
  grid-area: main;
  background-color: #ffcc00;
  border-radius: 25px;
  padding-top: 20px;
  
}

.main{
  /* display: flex; */
}

.search{
 
}

.select{
  text-align: center;
}

.date{
  margin-top: 10px;
}

.btn-main{
  color: #ffcc00;
  margin-bottom: 10px;
  

}

.sortBy{
  float: right;
  
}

.sm-flex{
  /* display: flex;
  text-align: center; */
}

.custom-select{

  
}


/*FOOTER*/

.footer-div{
  height: 100%;
  grid-area: footer;
  background-color: #006699;
  border-radius: 25px;
  
}

.footer{
  text-align: center;
  color: #ffcc00;
  font-size: 1.5rem;
  padding:50px;
}


  /******GAMMALT UNDER-FIXA!!!!******************/
/* .routes {
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

#sortBy{
  width: 100px;
  margin-left: 1200px;
}

.segment {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr ;
  
}

.segment.title {
  background-color: lightgray;
  padding: 1px 0;
  border-bottom: 1px solid gray;
  border-right: none;
 text-align-last: center;
}
.segment.huvudtable {
  background-color:lightblue;
  
 font-weight: 400;
 
}
.segment .col {
  height: 100%;
  border-right: 1px solid gray;
  font-weight: 16px;
}

.blue {
  background-color:blue;
  color: white;
  
}
.white{
  background-color:blue;
  border-radius: 25px;
  font-weight: 18px;
  color: antiquewhite

}



.navy{
  background-color:blue;
  border-radius: 25px;
  color: antiquewhite
}

.table{
  
  
  border-radius: 25px;
 border-end-end-radius: 25px;
 

}


.header{
  grid-area: header;
}

.main{
  grid-area: main;
}

#root{
  background-color: white;
  /*background-image: url("./osringar.jpg");*/
   
  
/* }


#b-image{
  position: absolute;
  opacity: 0.5;
  width: 100px;
  height: 100px;
} */ 

