/* GUL #ffcc00
   Blå #006699
*/
:root {
  --yellow: #ffcc00;
  --blue: #006699;
}


* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: linear-gradient(#006699, #ffcc00, #006699);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#root {
  height: 100%;
}


.blue {
  background-color: #006699;
  color: white;
}
.yellow {
  color: black;
  background-color: #ffcc00;
}
.red {
  background-color: white;
}

.bkg-Stockholm{
  background-image: url("./components/Main/stockholm.jpg");
  background-size: cover;
  
}
.bkg-Åre{
  background-image: url("./components/Main/åre.jpg");
  background-size: cover;
  
}
.bkg-Falun{
  background-image: url("./components/Main/falun.jpg");
  background-size: cover;
  
}

.my-city-list {
  display: grid;
  grid-template-rows: 70px 1fr 1fr 1fr 60px;
}

.my-rounded {
  border-radius: 25px;
}

.blue.active {
  background-color: darkblue;
}

.highlight {
  color:#ffcc00;
}

.text-yellow{
  color:#ffcc00;
}

.container-fluid {
  background-image: linear-gradient(#006699, #ffcc00, #006699);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/*HEADER*/

.sweden-logo {
  max-width: 12rem;
  max-height: 12rem;
}

.tosweden-h3 {
  /* display: none; */
  /* text-align: center; */
  /* font-size: 6rem; */
  /* font-size: 3rem; */
  font-weight: bold;
  color: #ffcc00;
}







.bigNav {
  display: none;
}

.smallNav {
  display: block;
}



@media (min-width: 700px) {
  .bigNav {
    display: block;
  }
  .smallNav {
    display: none;
  }
  .ul-list {
    display: flex;
    justify-content: space-between;
  }
}

/*MAIN*/

.main-div {
  /* height: 100%; */
  /* background-color: #ffcc00;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px; */
}

.form {
  /* display: flex;
  justify-content: space-between;
   */
}

.searchBar {
  /* padding-top: 25px; */
 
  /* min-width: 20%; */
}

.clone {
	
}

.scrollable{
	position:relative;
	max-width:740px;
	margin:auto;
	overflow:hidden;
	

}
.table-wrap{
  width:100%;
	overflow:auto;


}
.olympicTable {
  border: 0px hidden;
  border-spacing: 15px;
 
 border-collapse: separate;
  height: 100%;
  
}

.olympicTable td {
  box-shadow: 0 0 10px #201d1c;
  background: #006699;
  border-radius: 25px;
  text-align: center;
  color: white;
  min-width: 130px;
}

.olympicTable th{
  text-align: center;
  min-width: 130px;

}
.olympicTable img{
  height: 140px;
  width:130px;
  border-radius: 25px;
  

}
.fixed-side{
  
visibility: visible;
position:absolute;
	top:auto;
	left:0;
  pointer-events:none;
  background-color:#ffcc00;
  
  border: none;
}

.fixed{
  visibility: none;
  
  border: none;
}
ul li {
  list-style-type: none;
}

li {
  padding-left: 0px;
}

.select {
  text-align: center;
}

.date {
  margin-top: 10px;
}

.btn-main {
  color: #ffcc00;
  margin-bottom: 0px;
}

.sortBy {
  text-align: right;
}

.sm-flex {
  /* display: flex;
  text-align: center; */
}

/*FOOTER*/

.footer-div {
  height: 100%;
  grid-area: footer;
  background-color: #006699;
  border-radius: 25px;
}

.footer {
  text-align: center;
  color: #ffcc00;
  font-size: 1.5rem;
  padding: 50px;
}

/******GAMMALT UNDER-FIXA!!!!******************/

.routes {
  height: 100%;
  width: 100%;
}

/* #sortBy{
  width: 100px;
  margin-left: 1200px;
} */

.segment {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.segment.title {
  background-color: lightgray;
  padding: 1px 0;
  border-right: none;
  text-align-last: center;
}

.segment .col {
  height: 100%;
  border-right: 1px solid gray;
  font-weight: 16px;
}


.white {
  background-color: #006699;
  border-radius: 25px;
  font-weight: 18px;
  color: antiquewhite
}

.navy {
  background-color: #006699;
  border-radius: 25px;
  color: antiquewhite
}

.table {
  border-radius: 25px;
  text-align: center;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

#root {
  background-color: white;
}

/*
#b-image{
  position: absolute;
  opacity: 0.5;
  width: 100px;
  height: 100px;
} */